<hack>
 <computer>Refrigerator</computer>
 <wormName>Nuni</wormName>
 <wormDormancy>0</wormDormancy>
 <wormOs>Linux</wormOs>
</hack>
<clock-in>
<name>Inigo Montoya</name>
<workTime>1</workTime>
<restTime>3</restTime>
<efficiency>1</efficiency>
</clock-in>
<termination>
	<time>10</time>
</termination>
